
################################################################
## spdlog path containing `include'.
##
## Check file exist:
##   $(SPDLOG)/include
##
SPDLOG=/usr/local
################################################################

